body {
  margin: 0;
}

.container .dashboard {
  display: grid;
  width: 20vw;
  color: white;
  background-color: blue;
  grid-template-rows: 1fr 5fr 6fr;
  height: 100vh;
  justify-content: flex-start;
}

.container .dashboard h1 {
  margin-bottom: 30px;
}

.container .dashboard .first-set {
  display: grid;
  grid-template-rows: repeat(5, 45px);
}

.container .dashboard .second-set {
  display: grid;
  grid-template-rows: repeat(5, 45px);
}

.container .dashboard h1,
.container .dashboard h2 {
  margin: 0;
  padding-right: 30px;
  margin-left: 20px;
}
